# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# AI/ML
# Chặn toàn bộ nội dung trong data/
data/*

# Nhưng KHÔNG chặn file .gitkeep
!data/.gitkeep

*.h5
*.pth
*.pkl
*.weights